#css{
    margin-top:100px;
}
.css-wrap{
    margin:0 auto;
    width:100%;
}
.css-img img{
    width:400px;
    margin:0 auto;
    display:block;
}
.css-what{
    padding: 100px;
    max-width:75%;
    margin:0 auto;
}
