*{
    font-family: "Gill Sans", sans-serif;
}
.nav {
    background-color:beige;
    margin:1 auto;
    list-style-type:none;
    z-index: 1000;
}
.nav h1{
    margin-top:100px;
    font-size:30px;
    text-decoration: none;
    text-align:center;
    padding-top:55px;
}
.nav li{
    margin-top:50px;
    display:inline-block;
    text-decoration:none;
    padding: 5px 45px;
}
.nav li a {
    color:darkcyan;
    font-size:20px;
}
.nav li a:link{
    text-decoration:none;
}
.nav li a:visited{
    text-decoration-style:none;
}
.nav li a:hover {
    color: red;
  }
  
.nav li a:active {
    color:black;
  }
  body {
    background-color: rgb(253, 253, 253);
    color: black;
}
  
.dark-mode {
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
}