#react{
    margin-top:100px;
}
.re-wrap{
    margin:0 auto;
    width:100%;
}
.re-img img{
    max-width:400px;
    display:block;
    margin:0 auto;
}
.re-what{
    padding: 100px;
    max-width:100%;
    margin:0 auto;
}
