h1{
    font-size : 35xp;
    border-bottom: 5px solid red;
}

#web{
    color : darkcyan;
}

body{
    background-color: darkgray;
    color:white;
}
li:hover{
    font-size: 20px;
}
